body {
    background-color: darkgoldenrod;
}

h1 {
    text-align: center;
}
.game-area{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-area > .slider-container {
    flex: 1;
    order: 2;
}

.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.slider-container > input{
    cursor: pointer;
}

.game-piece {
    border: .1px solid black;
    padding: 0;
    margin: 0;
}

.game-row{
    display: flex;
    flex: 1;
}